<!DOCTYPE html>
<html lang="en-US" class="lang-en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Just a moment...</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  <script src="/_beacon.js" async defer></script>
  <link href="/cloaking.css" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper" role="main">
    <div class="main-content">
      <h1 class="zone-name-title h1"><%= domain %></h1>
      <h2 id="challenge-running" class="h2">Checking if the site connection is secure</h2>

      <br>

      <form id="form" action="/" method="POST">
        <div class="h-captcha" data-sitekey="<%= siteKey %>" data-callback="submitForm">
        </div>
        <input type="hidden" value="hcaptcha" name="captchaType" />
        <input type="hidden" name="proxyId" id="proxyId" value="<%= proxyId %>" />
      </form>

      <div id="challenge-body-text" class="core-msg spacer"><%= domain %> needs to review the security of your
        connection
        before proceeding.</div>

    </div><noscript>
      <div id="challenge-error-title">
        <div class="h2"><span class="icon-wrapper">
            <div class="heading-icon warning-icon"></div>
          </span><span id="challenge-error-text">Enable JavaScript and cookies to continue</span></div>
      </div>
    </noscript>
  </div>
  </div>
  <div class="footer" role="contentinfo">
    <div class="footer-inner">
      <div class="clearfix diagnostic-wrapper">
        <div class="ray-id">Ray ID: <code>7f71c0bd0c3148ee</code></div>
      </div>
    </div>
  </div>

  <script>
    function submitForm() {
      document.getElementById("form").submit();
    }
  </script>
</body>

</html>