# .flake8
[flake8]
# 要检查的目录和文件
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .eggs,
    *.egg-info

# 忽略特定的错误和警告
ignore =
    E203,  # 与 Black 格式化工具冲突
    W503,  # 与 Black 格式化工具冲突
    F541,  # f-string 缺少占位符
    E722,  # 不要使用裸露的 'except'
    E501,  # 行长度超过限制
    W291,  # 行尾存在多余的空格
    W292,  # 文件以多余的空白行结束
    W293,  # 空白行中存在空格
    W391,  # 文件以空白行结束

# 设置较长的行长度
max-line-length = 100

# 其他配置选项
count = true
statistics = true
