phishintention/src/AWL_detector_utils/configs/faster_rcnn_web.yaml
phishintention/src/AWL_detector_utils/output/website_lr0.001/model_final.pth

phishintention/src/crp_locator_utils/login_finder/configs/faster_rcnn_login_lr0.001_finetune.yaml
phishintention/src/crp_locator_utils/login_finder/output/lr0.001_finetune/model_final.pth

phishintention/src/crp_classifier_utils/output/Increase_resolution_lr0.005/BiT-M-R50x1V2_0.005.pth.tar

phishintention/src/OCR_siamese_utils/output/targetlist_lr0.01/bit.pth.tar
phishintention/src/OCR_siamese_utils/demo_downgrade.pth.tar

phishintention/src/phishpedia_siamese/LOGO_FEATS.npy
phishintention/src/phishpedia_siamese/LOGO_FILES.npy
phishintention/src/phishpedia_siamese/expand_targetlist
phishintention/src/phishpedia_siamese/expand_targetlist.zip
phishintention/src/phishpedia_siamese/domain_map.pkl
__pycache__
*.pyc
*.log